@model KTU_SA_RO.Models.Requirement

@{
        ViewData["Title"] = "Redaguoti reikalavimą";
}
<div class="row">
    <div class="d-flex justify-content-center">
        <form asp-action="Edit">
            <div class="display-6 mt-4 mb-5 fw-bold ">@ViewData["Title"]</div>
            <hr />
            <input name="EventId" value="@Model.Event.Id" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mt-2 mb-4">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 mb-4">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 mb-4">
                <label asp-for="Comment" class="control-label"></label>
                <textarea asp-for="Comment" class="form-control"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 mb-4 form-check">
                @if (!User.IsInRole("admin") || User.IsInRole("orgCoord"))
                {
                    <label class="col-6 form-check-label">
                        <input class="form-check-input" asp-for="Is_general" id="generalBox" /> @Html.DisplayNameFor(model => model.Is_general)
                    </label>
                }
                <label class="ms-2 form-check-label" id="fulfilled">
                    <input class="form-check-input" asp-for="Is_fulfilled" id="fulfilledBox" /> @Html.DisplayNameFor(model => model.Is_fulfilled)
                </label>
            </div>
            <div class="form-group mt-2 mb-4">
                @if(Model.Event != null){
                    <a asp-controller="Events" asp-action="Details" asp-route-id="@Model.Event.Id" class="btn btn-outline-dark text-uppercase"><i class="fas fa-arrow-left"></i> Grižti į detales</a>
                }
                else
                {
                    <a asp-action="Index" asp-route-id="@Model.Id" class="btn btn-outline-dark text-uppercase"><i class="fas fa-arrow-left"></i> Grižti į detales</a>
                }
                <input type="submit" value="Patvirtinti" class="btn btn-primary text-uppercase" id="submit" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
<script>
    var changeFulfiledBox = (checked) => {
        if(checked){
            $('#fulfilled').hide();
            $('#fulfilledBox').prop("checked",false);
        }
        else{
            $('#fulfilled').show();
            $('#fulfilledBox').prop("checked",false);
        }
    }

    $(document).ready(() => {
        changeFulfiledBox($('#generalBox').is(":checked"));
        $('#generalBox').click(function(){
            changeFulfiledBox($('#generalBox').is(":checked"));
        });
    });
</script>

    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
