@model KTU_SA_RO.Models.Requirement
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Redaguoti reikalavimą";
}

<style>
    main{
        margin: auto;
        width: 70%;
    }
</style>

<div class="row">
    <div class="d-flex justify-content-center">
        <form asp-action="Edit">
            <div class="display-6 mt-4 mb-5 fw-bold ">@ViewData["Title"]</div>
            <hr />
            @if (TempData["danger"] != null)
            {
                <div class="alert alert-danger mt-4" role="alert">
                    @Html.Raw(TempData["danger"].ToString())
                </div>
            }
            @if (Model.Event != null)
            {
                <input name="eventId" value="@Model.Event.Id" hidden />
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mt-2 mb-4">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 mb-4">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 mb-4">
                <label asp-for="Comment" class="control-label"></label>
                <textarea asp-for="Comment" class="form-control"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            @if (!Model.Is_general)
            {
                <div class="form-group mt-2 mb-4 form-check">
                    @if (User.IsInRole("admin") || User.IsInRole("orgCoord"))
                    {
                        <label class="col-6 form-check-label">
                            <input class="form-check-input" asp-for="Is_general" id="generalBox" /> @Html.DisplayNameFor(model => model.Is_general)
                        </label>
                    }
                    <label class="ms-2 form-check-label" id="fulfilled">
                        <input class="form-check-input" asp-for="Is_fulfilled" id="fulfilledBox" /> @Html.DisplayNameFor(model => model.Is_fulfilled)
                    </label>
                </div>
                <div class="container mb-4 fw-bold bg-light py-3 rounded-2">
                    <h5 class="display-6 d-flex justify-content-center">Atsakingas asmuo</h5>
                    <div class="m-3 mt-4 d-flex justify-content-between">
                        <div class="form-group me-3">
                            <label>Vardas</label>
                            <input asp-for="User.Name" class="form-control" name="responsibleUserName" />
                        </div>
                        <div class="form-group">
                            <label>Pavardė</label>
                            <input asp-for="User.Surname" class="form-control" name="responsibleUserSurname" />
                        </div>
                    </div>
                </div>                
            }
            <div class="form-group mt-2 mb-4">
                @if (Model.Event != null)
                {
                    <a asp-controller="Events" asp-action="Details" asp-route-id="@Model.Event.Id" class="btn btn-outline-dark text-uppercase"><i class="fas fa-arrow-left"></i> Grižti į detales</a>
                }
                else
                {
                    <a asp-action="Index" asp-route-id="@Model.Id" class="btn btn-outline-dark text-uppercase"><i class="fas fa-arrow-left"></i> Grižti į detales</a>
                }
                <input type="submit" value="Patvirtinti" class="btn btn-primary text-uppercase rounded-2" id="submit" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
<script>
    var changeFulfiledBox = (checked) => {
        if(checked){
            $('#fulfilled').hide();
            $('#fulfilledBox').prop("checked",false);
        }
        else{
            $('#fulfilled').show();
            $('#fulfilledBox').prop("checked",false);
        }
    }

    $(document).ready(() => {
        changeFulfiledBox($('#generalBox').is(":checked"));
        $('#generalBox').click(function(){
            changeFulfiledBox($('#generalBox').is(":checked"));
        });
    });
</script>

    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
