@using Microsoft.AspNetCore.Identity
@model IEnumerable<KTU_SA_RO.Models.ApplicationUser>

@{
    ViewData["Title"] = "Registruoti naudotojai";
    var UsersRoles = ViewData["roles"] as Dictionary<string, IdentityRole>;

    /*Pagination*/
    var currentPage = 0;
    if (ViewData["pageIndex"] != null)
    {
        currentPage = Convert.ToInt32(ViewData["pageIndex"]);
    }
    var totalPages = Convert.ToInt32(ViewData["totalPages"]);
    // Show 5 pages buttons
    var showCount = 5;
}
@if (TempData["success"] != null)
{
    <div class="alert alert-success" role="alert">
        @Html.Raw(TempData["success"].ToString())
    </div>
}
@if (TempData["danger"] != null)
{
    <div class="alert alert-danger" role="alert">
        @Html.Raw(TempData["danger"].ToString())
    </div>
}
<div class="container display-6 my-4 fw-bold">@ViewData["Title"]</div>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>Rolė</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(a => a.UserName))
        {
            <tr>
                <td>@item.Name @item.Surname</td>
                <td>@item.UserName</td>
                <td>
                    <div class="d-flex justify-content-between">
                        <span class="fw-bold align-self-center">
                            @{
                                var role = UsersRoles.SingleOrDefault((a => a.Key.Equals(item.UserName))).Value;
                                if (role != null)
                                {
                                    <span>
                                        @role.NormalizedName
                                    </span>
                                }
                            }
                        </span>
                    </div>
                </td>
                @if (User.IsInRole("admin") || User.IsInRole("orgCoord"))
                {
                    <td>
                        <a asp-action="UserRole" asp-route-id="@item.Id" class="btn btn-secondary mx-3 rounded-2"><i class="fas fa-edit pe-1"></i> Pakeisti rolę</a>
                    </td>                    
                }
            </tr>
        }
    </tbody>
</table>

@*Pagination*@
@await Html.PartialAsync("~/Views/Shared/_Pagination.cshtml")