@using Microsoft.AspNetCore.Identity
@model KTU_SA_RO.Models.ApplicationUser
@{
    ViewData["Title"] = "Naudotojo rolės redagavimas";
    var usersRoleName = ViewData["userRoleName"];
    var roles = ViewData["roles"] as List<string>;
}
@if (TempData["danger"] != null)
{
    <div class="alert alert-danger" role="alert">
        @Html.Raw(TempData["danger"].ToString())
    </div>
}
@*<link rel="stylesheet" href="~/css/modal.css" />*@
@*Forma, kurioje pakeičiama naudotojo rolė, pašalinamas naudotojas*@

<div class="container mt-4">
    <div class="display-6 fw-bold">Naudotojo informacija</div>
    <hr />
    <form asp-action="ChangeUserRole">
        <input type="hidden" asp-for="Email" />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
                @Html.DisplayNameFor(model => model.Surname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
                @Html.DisplayFor(model => model.Surname)
            </dd>
            <dt class="col-sm-2">
                Rolė
            </dt>
            <dd class="col-sm-10">
                @usersRoleName
            </dd>
            <dt class="col-sm-2">
                Pakeisti rolę
            </dt>
            <dd class="col-sm-10">
                <select name="pickedRole" class="form-control w-25" asp-items="@(new SelectList(roles,"",""))">
                    <option value=""></option>
                </select>
            </dd>
            <div class="form-group mt-4">
                <a asp-action="Index" class="btn btn-outline-dark text-uppercase"><i class="fas fa-arrow-left"></i> Grižti į sąrašą</a>
                <button type="button" class="btn btn-danger rounded-2" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-trash pe-1"></i> Pašalinti naudotoją
                </button>                    
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title m-2" id="exampleModalLabel">Ar tikrai norite pašalinti?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body m-2">
                            Pašalinsite naudotoją: <b>@Model.Name @Model.Surname</b>. Pašalinus naudotoją, bus pašalinta: 
                            <ol class="mt-3">
                              <li>Narys iš renginio komandos</li>
                              <li>Specifiniai reikalavimai, susije su šiuo naudotoju</li>
                            </ol>  
                        </div>
                        <div class="modal-footer">
                        <form asp-action="DeleteUser" class="col-4">
                            <input type="hidden"  value="@Model.Id" />
                            <button type="submit"  asp-action="DeleteUser" asp-route-id="@Model.Id"  class="btn btn-danger"> Patvirtinti</button>
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </dl>
    </form>
</div>
@*<script src="~/js/modal.js" asp-append-version="true"></script>*@
