@model KTU_SA_RO.Models.Event
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Sukurti renginį";
}
<link rel="stylesheet" href="~/css/searchDrop.css">

<div class="row">
    <div class="d-flex justify-content-center">
        <form asp-action="Create">
            <div class="display-6 mt-4 mb-5 fw-bold ">@ViewData["Title"]</div>
            <hr />
            @if (TempData["danger"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @Html.Raw(TempData["danger"].ToString())
                </div>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" id="startDate" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="col-6 form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" id="endDate" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" placeholder="Jeigu nežinoma, palikti tuščią" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <label asp-for="EventType.Name" class="control-label"></label>
            <select id="jquery-searchable-dropdown" name="eventTypeName" asp-for="EventType.Name" class="form-control custom-select mb-3" asp-items="@(new SelectList(ViewData["eventTypes"] as List<EventType>, "Name", "Name"))"></select>
            <div class="form-check mt-4">
                <input type="checkbox" class="form-check-input" id="hasCoordinatorCheckbox">
                <label asp-for="Has_coordinator" class="form-check-label"></label>
                <span asp-validation-for="Has_coordinator" class="text-danger"></span>
            </div>
            <div id="coordinatorContainer" class="my-3 p-3">
                <div class="form-group">
                    <label asp-for="CoordinatorName" class="control-label"></label>
                    <input asp-for="CoordinatorName" class="form-control w-50" id="coordName" />
                    <span asp-validation-for="CoordinatorName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CoordinatorSurname" class="control-label"></label>
                    <input asp-for="CoordinatorSurname" class="form-control w-50" id="coordSurname" />
                    <span asp-validation-for="CoordinatorSurname" class="text-danger"></span>
                </div>
            </div>
            <div class="form-check mt-2 mb-4">
                <input type="checkbox" class="form-check-input" id="isLiveCheckbox" checked>
                <label asp-for="Is_live" class="form-check-label"></label>
                <span asp-validation-for="Is_live" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 mb-4">
                <label asp-for="PlannedPeopleCount" class="control-label"></label>
                <input asp-for="PlannedPeopleCount" class="form-control w-25 text-end" min='1' max='200000' />
                <span asp-validation-for="PlannedPeopleCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-outline-dark text-uppercase"><i class="fas fa-arrow-left"></i> Grižti į sąrašą</a>
                <input type="submit" value="Patvirtinti" class="btn btn-primary text-uppercase rounded-2" id="submit" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
<script>
    var changeCoordInput = (checked) => {
        if(checked){
            $('#coordName').val('');
            $( "#coordName" ).prop( "disabled", false );

            $('#coordSurname').val('');
            $( "#coordSurname" ).prop( "disabled", false );
        }
        else{
            $('#coordName').val("@Html.Raw(@UserManager.GetUserAsync(User).Result.Name)");
            $( "#coordName" ).prop( "disabled", true );

            $('#coordSurname').val("@Html.Raw(@UserManager.GetUserAsync(User).Result.Surname)");
            $( "#coordSurname" ).prop( "disabled", true );
        }
    }

    $(document).ready(() => {
        changeCoordInput("");
        $('#hasCoordinatorCheckbox').click(function(){
            changeCoordInput($('#hasCoordinatorCheckbox').is(":checked"));
        });

        // set min value for event end date
        $('#startDate').change(() => {
            var endDate = $('#endDate').attr({"min" : $('#startDate').val()});
        })

        $('#submit').click(() => {
            $( "#coordName" ).prop( "disabled", false );
            $( "#coordSurname" ).prop( "disabled", false );
        });
    });
</script>
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
