@model KTU_SA_RO.Models.Event

@{
    ViewData["Title"] = "Pašalinti renginį";
}

<div>
    <hr />
    <div class="display-6 mb-4 fw-bold alert alert-danger " role="alert">Ar tikrai norite pašalinti?</div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10 fw-bold">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Has_coordinator)
        </dt>
        <dd class="col-sm-10">
            @if (!Model.Has_coordinator)
            {
                <span><i class="fas fa-times"></i></span>
            }
            else
            {
                <i class="fas fa-check"></i>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoordinatorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoordinatorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoordinatorSurname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoordinatorSurname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Is_canceled)
        </dt>
        <dd class="col-sm-10">
            @if (!Model.Is_canceled)
            {
                <span><i class="fas fa-times"></i></span>
            }
            else
            {
                <span><i class="fas fa-check"></i></span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Is_live)
        </dt>
        <dd class="col-sm-10">
            @if (!Model.Is_live)
            {
                <span><i class="fas fa-times"></i></span>
            }
            else
            {
                <i class="fas fa-check"></i>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlannedPeopleCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlannedPeopleCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PeopleCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PeopleCount)
        </dd>
    </dl>

    <form asp-action="Delete">
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i>  Grįžti į detales</a>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Patvirtinti šalinimą" class="btn btn-danger mx-3" />
    </form>
</div>
