@model KTU_SA_RO.Models.Event

@{
    ViewData["Title"] = "Delete";
}

<div>
    <hr />
    <h3 class="alert alert-danger mb-4" role="alert">Ar tikrai norite pašalinti?</h3>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10 fw-bold">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Has_coordinator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Has_coordinator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoordinatorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoordinatorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoordinatorSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoordinatorSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_canceled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_canceled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_live)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_live)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlannedPeopleCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlannedPeopleCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeopleCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeopleCount)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <a asp-action="Index" class="btn btn-outline-dark my-3"><i class="fas fa-arrow-left"></i>  Grįžti į sąrašą</a>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Patvirtinti šalinimą" class="btn btn-danger mx-3" />
    </form>
</div>
