@model KTU_SA_RO.Models.Event

@{
    ViewData["Title"] = "Renginio detali informacija";
    var positions = ViewData["positions"] as List<string>;
    var eventTeam = ViewData["eventTeam"] as Dictionary<int, ApplicationUser>;
    var membersRole = ViewData["membersRole"] as Dictionary<int, string>;
    var revenue = ViewData["revenues"] as List<Revenue>;
    var cost = ViewData["costs"] as List<Cost>;
    var ticketing = ViewData["ticketings"] as List<Ticketing>;
    var sponsors = ViewData["sponsors"] as List<Sponsor>;
    var eventSponsors = ViewData["eventSponsors"] as List<Sponsor>;
    var lastEvents = ViewData["lastEvents"] as List<Event>;
    var userInTeam = ViewData["userBelongsToEvent"];
    var usersNameSurname = ViewData["usersNameSurname"] as List<string>;
}

<div class="container display-5 my-4 fw-bold">Plačiau apie renginį</div>

@if (TempData["success"] != null)
{
    <div class="alert alert-success mt-4" role="alert">
        @Html.Raw(TempData["success"].ToString())
    </div>
}

<div>
    <hr />
    <div class="container row">
        <div class="col-lg-6" style="border-right:1px solid #E1E1E1;">
            <h5 class="display-6 mb-4">
                Pagrindinė info
            </h5>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-lg-4 mb-3 fw-bold">
                        @Html.DisplayNameFor(model => model.Title)
                    </div>
                    <div class="col-sm-9 col-lg-8 fw-bold">
                        @Html.DisplayFor(model => model.Title)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-lg-4 mb-3 fw-bold">
                        Renginio data
                    </div>
                    <div class="col-sm-9 col-lg-8">
                        @Html.DisplayFor(model => model.StartDate) - @Html.DisplayFor(model => model.EndDate)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-lg-4 mb-3 fw-bold">
                        @Html.DisplayNameFor(model => model.Location)
                    </div>
                    <div class="col-sm-9 col-lg-8">
                        @if (Model.Location == null)
                        {
                            <span>-</span>
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Location)
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-lg-4 mb-5 fw-bold">
                        @Html.DisplayNameFor(model => model.Description)
                    </div>
                    <div class="col-sm-9 col-lg-8">
                        @Html.DisplayFor(model => model.Description)
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            @if (TempData["danger"] != null)
            {
                <div class="alert alert-danger mt-4" role="alert">
                    @Html.Raw(TempData["danger"].ToString())
                </div>
            }
            <div class="d-flex justify-content-between">
                <h5 class="display-6 mb-4">
                    Renginio komanda
                </h5>
                @if(User.IsInRole("admin")  || User.IsInRole("eventCoord") || User.IsInRole("fsaOrgCoord"))
                {
                    if (User.IsInRole("admin") || userInTeam != null)
                    {
                        <div class="btn btn-primary mt-3 mb-4 col-sm-5 col-lg-3 rounded-2" id="addUserBtn"><i class="fas fa-plus-circle pt-1 pe-1" style="font-size: 20px"></i> Pridėti narį</div>
                    }
                }              
            </div>
            @*Add user to an event team*@
            <div class="row" id="containerAddUser" style="display:none;">
                <form asp-action="Create" asp-controller="EventTeamMembers">
                    <input name="eventId" class="form-control" value="@Model.Id" hidden />
                    <div class="d-flex justify-content-between mb-3">
                        @*<input name="userName" class="form-control me-3" placeholder="Vardas" required />*@
                        @if(usersNameSurname != null)
                        {
                            <select id="jquery-searchable-dropdown" name="userNameSurname" class="form-control custom-select" asp-items="@(new SelectList(usersNameSurname, "", ""))"></select>
                        }
                   </div>
                    <input type="submit" value="Patvirtinti" class="btn btn-primary text-uppercase float-end mb-4 rounded-2" id="submit" />
                </form>
            </div>
            @******@
            @if (eventTeam != null)
            {
                for (int i = 0; i < eventTeam.Count(); i++)
                {
                    <div class="card mb-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                        <div class="card-header d-flex justify-content-between">
                            <div class="fw-bold">@eventTeam.ElementAt(i).Value.Name @eventTeam.ElementAt(i).Value.Surname</div>
                            <div class="me-1 px-2 rounded-3 text-white fw-light bg-dark">@eventTeam.ElementAt(i).Value.Email</div>
                        </div>
                        <div class="row my-3 mx-2 ">
                            <div class="col-8">@membersRole.ElementAt(i).Value</div>
                            <div class="col-4 align-items-end">
                                @if(User.IsInRole("admin")  || User.IsInRole("eventCoord") || User.IsInRole("fsaOrgCoord"))
                                {
                                    if (User.IsInRole("admin") || userInTeam != null)
                                    {
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-outline-dark rounded-2" data-toggle="modal" data-target="#exampleModal-@eventTeam.ElementAt(i).Key">
                                            <i class="fas fa-trash pe-1"></i> Ištrinti
                                        </button>                                        
                                    }

                                }

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal-@eventTeam.ElementAt(i).Key" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Ar tikrai norite pašalinti?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Pašalinsite <b>@eventTeam.ElementAt(i).Value.Name @eventTeam.ElementAt(i).Value.Surname</b> iš komandos
                                            </div>
                                            <div class="modal-footer">
                                                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Uždaryti</button>*@
                                                <form asp-action="Delete">
                                                    <input type="submit" asp-action="Delete" asp-controller="EventTeamMembers" asp-route-id="@eventTeam.ElementAt(i).Key" value="Patvirtinti" class="btn btn-danger rounded-2 text-uppercase" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!----->
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="alert alert-danger mt-4" role="alert">
                    Komadoje narių nerasta
                </div>
            }
        </div>
        <div><hr /></div>
        <div class="col-sm-3 col-lg-2 mb-3">
            @Html.DisplayNameFor(model => model.Has_coordinator)
        </div>
        <div class="col-sm-8 col-lg-2" style="border-right:1px solid #E1E1E1;">
            @if (!Model.Has_coordinator)
            {
                <span><i class="fas fa-times"></i></span>
            }
            else
            {
                <i class="fas fa-check"></i>
            }
        </div>
        <div class="col-sm-3 col-lg-2 mb-3">
            Renginio koordinatorius
        </div>
        <div class="col-sm-9 col-lg-2" style="border-right:1px solid #E1E1E1;">
            @Html.DisplayFor(model => model.CoordinatorName) <span class="ms-2">@Html.DisplayFor(model => model.CoordinatorSurname)</span>
        </div>

        <div class="col-sm-3 col-lg-2 mb-2">
            @Html.DisplayNameFor(model => model.Is_canceled)
        </div>
        <div class="col-sm-9 col-lg-1">
            @if (!Model.Is_canceled)
            {
                <span><i class="fas fa-times"></i></span>
            }
            else
            {
                <span><i class="fas fa-check"></i></span>
            }
        </div>
        <div class="my-3"></div>
        <div class="col-sm-3 col-lg-2 mb-3">
            @Html.DisplayNameFor(model => model.Is_live)
        </div>
        <div class="col-sm-9 col-lg-2" style="border-right:1px solid #E1E1E1;">
            @if (!Model.Is_live)
            {
                <span><i class="fas fa-times"></i></span>
            }
            else
            {
                <i class="fas fa-check"></i>
            }
        </div>
        <div class="col-sm-3 col-lg-2 mb-3">
            @Html.DisplayNameFor(model => model.PlannedPeopleCount)
        </div>
        <div class="col-sm-9 col-lg-2" style="border-right:1px solid #E1E1E1;">
            @Html.DisplayFor(model => model.PlannedPeopleCount)
        </div>
        <div class="col-sm-3 col-lg-2 mb-4">
            @Html.DisplayNameFor(model => model.PeopleCount)
        </div>
        <div class="col-sm-9 col-lg-1">
            @if (Model.PeopleCount == 0)
            {
                <span>-</span>
            }
            else
            {
                @Html.DisplayFor(model => model.PeopleCount)
            }
        </div>

        @*Sponsorships container*@
        <div>           
            <div class="d-flex mt-4 mb-2 justify-content-between">
                <h5 class="my-4 display-6">Rėmimas</h5>
                <div class="d-flex mt-4 mb-2 justify-content-end">
                    @if(User.IsInRole("admin") || User.IsInRole("fsaBussinesCoord"))
                    {
                        if (User.IsInRole("admin") || userInTeam != null)
                        {
                            <div class="btn btn-primary mt-3 mb-4 rounded-2" id="addSingleSponsorshipBtn">
                                <i class="fas fa-plus-circle pt-1 pe-1" style="font-size: 20px"></i> Pridėti paramą
                            </div>
                        }             
                    }
                </div>
            </div>
            @if (Model.Sponsorships.Count == 0)
            {
                <div class="alert bg-light w-50" role="alert">
                    Nėra sukurta rėmimo šiam renginiui
                </div>
            }                      
               
            @*Add single revenue to an event*@
            <div class="row container bg-light rounded-2 mb-3 pt-5" id="containerAddSingleSponsorship" style="display:none;">
                @if  (sponsors != null)
                {
                    <form asp-action="CreateSponsorship" asp-controller="Sponsors">
                        <input name="eventId" class="form-control" value="@Model.Id" hidden />
                        <div class="d-flex justify-content-between">
                            <input name="description" class="form-control me-3" placeholder="Aprašymas" required />
                            <input name="quantity" type="number" step="1" class="form-control w-25 me-3" placeholder="Kiekis" min='0' max='999999' required />
                            <input name="costTotal" type="number" step="0.01" class="form-control w-25 me-3" placeholder="Vertė" min='0' max='999999' required />
                            <select id="jquery-searchable-dropdown" name="sponsorId" class="form-control custom-select" asp-items="@(new SelectList(sponsors, "Id", "Title"))"></select>
                        </div>
                        <input type="submit" value="Patvirtinti" class="btn btn-primary text-uppercase float-end my-4 rounded-2" id="submit" />
                    </form>
                }
                else
                {
                    <div class="alert alert-danger mt-4" role="alert">
                        Nėra sukurtų rėmėjų
                    </div>
                }
            </div>
            @******@
        </div>
        @if (Model.Sponsorships.Count != 0)
        {
            <div class="card card-body" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                <div class="row fw-bold ms-1">
                    <div class="col-sm-9 col-lg-3 mb-3">Rėmėjas</div>
                    <div class="col-sm-9 col-lg-2 mb-3">Tipas</div>
                    <div class="col-sm-9 col-lg-3 mb-3">Aprašymas</div>
                    <div class="col-sm-9 col-lg-2 mb-3">Kiekis</div>
                    <div class="col-sm-9 col-lg-2 mb-3">Vertė</div>
                </div>
                @foreach (var sponsorship in Model.Sponsorships)
                {
                    <div class="row ms-1">
                        <div class="col-sm-9 col-lg-3 mb-2">
                            @sponsorship.Sponsor.Title
                        </div>
                        <div class="col-sm-9 col-lg-2 mb-2">
                            @sponsorship.Sponsor.CompanyType
                        </div>
                        <div class="col-sm-9 col-lg-3 mb-3">
                            @sponsorship.Description
                        </div>
                        <div class="col-sm-4 col-lg-2 mb-2">
                            @sponsorship.Quantity
                        </div>
                        <div class="col-sm-4 col-lg-2 text-success mb-2">
                            € @sponsorship.CostTotal
                        </div>
                        <div class="row d-flex justify-content-end mt-3 mb-4">
                            @if(User.IsInRole("admin")  || User.IsInRole("fsaBussinesCoord"))
                            {
                                if (User.IsInRole("admin") || userInTeam != null)
                                {
                                    <div class="col-6 d-flex justify-content-end">
                                        <a asp-controller="Sponsors" asp-action="EditSponsorship" asp-route-id="@sponsorship.Id"
                                            class="btn btn-outline-secondary mx-3 rounded-2">
                                            <i class="fas fa-edit pe-1"></i> Redaguoti
                                        </a>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-outline-danger rounded-2" data-toggle="modal" data-target="#sponsorshipModal-@sponsorship.Id">
                                            <i class="fas fa-trash pe-1"></i> Ištrinti
                                        </button>
                                    </div>                                    
                                }                              
                            }

                            <!-- Modal -->
                            <div class="modal fade" id="sponsorshipModal-@sponsorship.Id" tabindex="-1" role="dialog" aria-labelledby="sponsorshipModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="costModalLabel">Ar tikrai norite pašalinti?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Pašalinsite vieną iš rėmėjų: <b>@sponsorship.Sponsor.Title</b> paramą iš renginio
                                        </div>
                                        <div class="modal-footer">
                                            <form asp-action="Delete">
                                                <input type="hidden" asp-for="@sponsorship.Id">
                                                <input type="submit" asp-action="DeleteSponsorship" asp-controller="Sponsors" asp-route-id="@sponsorship.Id" value="Patvirtinti" class="btn btn-danger rounded-2 text-uppercase" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!----->
                        </div>
                    </div>
                }
                @if(User.IsInRole("admin") || User.IsInRole("fsaBussinesCoord"))
                {
                    if (User.IsInRole("admin") || userInTeam != null)
                    {
                        <!--Sponsorship document generator-->
                        <form class="mt-4 mx-2" asp-controller="Documents" asp-action="GetSponsorshipAgreement" >
                            <input name="eventId" class="form-control" value="@Model.Id" hidden />
                            <div class="d-flex justify-content-between">
                                <h5>Renginio įmonė</h5>
                                <select id="jquery-searchable-dropdown" name="sponsorId" class="form-control w-50 custom-select ms-3 me-4" asp-items="@(new SelectList(eventSponsors, "Id", "Title"))"></select>
@*                              <h5>Įmonės teisinė formos tipas</h5>
                                <select class="form-control w-50" name="companyLegalType">
                                    <option>Uždaroji akcinė bendrovė</option>
                                    <option>Akcinė bendrovė</option>
                                    <option>Mažoji bendrija</option>
                                    <option>Asociacija</option>
                                    <option>Viešoji įstaiga</option>
                                    <option>Individuali įmonė</option>
                                </select>*@
                            </div>
                            <input type="submit" value="Generuoti sutartį" class="btn btn-outline-dark float-end my-4 rounded-2" id="submit" />
                        </form>                         
                    }                    
                }
            </div>
  
        }
        <div><hr /></div>
        @*Additional requirements container*@
        <div>
            <div class="d-flex mt-4 mb-2 justify-content-between">
                <h5 class="my-4 display-6">Specifiniai reikalavimai</h5>
                @if(User.IsInRole("admin")  || User.IsInRole("eventCoord") || User.IsInRole("fsaPrCoord") || User.IsInRole("fsaOrgCoord") || User.IsInRole("fsaBussinesCoord"))
                {
                    if (User.IsInRole("admin") || userInTeam != null)
                    {
                        <a asp-controller="Requirements" asp-route-eventId="@Model.Id" asp-action="Create" class="btn btn-primary my-3 col-3 rounded-2">
                            <i class="fas fa-plus-circle pt-1 pe-1" style="font-size: 20px"></i>
                            Sukurti specifinį reikalavimą
                        </a>                        
                    }
                }
            </div>
            @if (Model.Requirements.Count != 0)
            {
                @foreach (var requirement in Model.Requirements)
                {
                    <div class="card mb-4 w-75" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                        <div class="card-header d-flex justify-content-between">
                            <div class="fw-bold">@requirement.Name</div>
                            @if (requirement.User != null)
                            {
                                <div>
                                    <span class="me-1 px-2 rounded-3 text-white fw-light bg-dark">@requirement.User.Name @requirement.User.Surname</span>
                                    @if  (requirement.Is_fulfilled)
                                    {
                                        <span><i class="ms-2 fas fa-check text-success"></i></span>
                                    }
                                </div>
                            }
                        </div>
                        <div class="row m-3">
                            <div class="col-6">@requirement.Description</div>
                            @if(User.IsInRole("admin")  || User.IsInRole("eventCoord") || User.IsInRole("fsaPrCoord") || User.IsInRole("fsaOrgCoord") || User.IsInRole("fsaBussinesCoord"))
                            {
                                if (User.IsInRole("admin") || userInTeam != null)
                                {
                                    <div class="col">
                                        <a asp-controller="Requirements" asp-action="Edit" asp-route-id="@requirement.Id"
                                            class="btn btn-outline-secondary mx-3 rounded-2">
                                            <i class="fas fa-edit pe-1"></i> Redaguoti
                                        </a>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-outline-danger rounded-2" data-toggle="modal" data-target="#exampleModal-@requirement.Id">
                                            <i class="fas fa-trash pe-1"></i> Ištrinti
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal-@requirement.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Ar tikrai norite pašalinti?</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Pašalinsite specifinį reikalavimą: <b>@requirement.Name</b> iš renginio
                                                    </div>
                                                    <div class="modal-footer">
                                                        @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Uždaryti</button>*@
                                                        <form asp-action="Delete">
                                                            <input type="submit" asp-action="Delete" asp-route-id="@requirement.Id" value="Patvirtinti" class="btn btn-danger rounded-3 text-uppercase" />
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!----->
                                    </div>                                    
                                }
                            }

                        </div>
                    </div>
                }
            }
            else
            {
                <div class="alert bg-light w-50" role="alert">
                    Nėra sukurta specifinių reikalavimų šiam renginiui
                </div>
            }
            <hr />
        </div>
        @*Outlay*@
        <div>
            @*Create revenue, ticketing, cost buttons*@
            <h5 class="display-6 my-4">Sąmata</h5>
            <div class="d-flex justify-content-center mt-4">
                <h5 class="me-4">
                    Bendros įplaukos:
                    @if (revenue != null)
                    {
                        <span class="display-5 text-success">@decimal.Round((decimal)revenue.Sum(r => r.Earned),2)</span>
                    }
                    else
                    {
                        <span class="display-5 text-success">0</span>
                    }
                </h5>
                <h5 class="me-4">
                    Bilietų įplaukos:
                    @if (ticketing != null)
                    {
                        <span class="display-5 text-success">@decimal.Round((decimal)ticketing.Sum(r => r.Total()),2)</span>
                    }
                    else
                    {
                        <span class="display-5 text-success">0</span>
                    }
                </h5>
                <h5 class="me-5">
                    Bendros išlaidos:
                    @if (cost != null)
                    {
                        <span class="display-5 text-danger">@decimal.Round((decimal)cost.Sum(r => r.Price),2)</span>
                    }
                    else
                    {
                        <span class="display-5 text-danger">0</span>
                    }
                </h5>
                <h5 class="ms-2">
                    Balansas:
                    <span class="display-4 "> @((decimal)revenue.Sum(r => r.Earned) + ticketing.Sum(r => r.Total()) - (decimal)cost.Sum(r => r.Price))</span>
                </h5>
            </div>

            @if(User.IsInRole("admin") || User.IsInRole("eventCoord"))
            {
                if (User.IsInRole("admin") || userInTeam != null)
                {
                    <div class="d-flex mt-4 mb-2 justify-content-end">
                        <div class="btn btn-primary mt-3 me-3 mb-4 col-sm-4 col-lg-3 rounded-2" id="addSingleRevenueBtn">
                            <i class="fas fa-plus-circle pt-1 pe-1" style="font-size: 20px"></i> Pridėti įplauką
                
                        </div>
                        <div class="btn btn-primary mt-3 me-3 mb-4 col-sm-4 col-lg-3 rounded-2" id="addSingleCostBtn">
                            <i class="fas fa-plus-circle pt-1 pe-1" style="font-size: 20px"></i> Pridėti išlaidą
                
                        </div>
                        <div class="btn btn-primary mt-3 mb-4 col-sm-4 col-lg-3 rounded-2" id="addSingleTicketingBtn">
                            <i class="fas fa-plus-circle pt-1 pe-1" style="font-size: 20px"></i> Pridėti bilietaciją
                
                        </div>
                    </div>                       
                }             
            }

            @*Add single revenue to an event*@
            <div class="row container bg-light rounded-2 mb-3" id="containerAddSingleRevenue" style="display:none;">
                <h4 class="my-4">Įplaukos</h4>
                <form asp-action="CreateRevenue" asp-controller="Outlay">
                    <input name="eventId" class="form-control" value="@Model.Id" hidden />
                    <div class="d-flex justify-content-between">
                        <input name="title" class="form-control w-50 me-3" placeholder="Pavadinimas" required />
                        <input name="earned" type="number" step="0.01" class="form-control w-25 me-3" placeholder="Uždirbta" min='0' max='999999' required />
                        <input name="invoiceNr" class="form-control me-3 w-50" placeholder="Sąskaitos faktūros nr." required />
                        <input name="date" type="date" class="form-control w-25 me-3" id="datePickerId" placeholder="Data" required />
                    </div>
                    <div class="d-flex justify-content-center my-4">
                        <input name="comment" class="form-control w-50" placeholder="Komentaras (neprivaloma)" />
                    </div>
                    <input type="submit" value="Patvirtinti" class="btn btn-primary text-uppercase float-end mb-4 rounded-2" id="submit" />
                </form>
            </div>

            @******@
            @*Add single cost to an event*@
            <div class="row container bg-light rounded-2 mb-3" id="containerAddSingleCost" style="display:none;">
                <h4 class="my-4">Išlaidos</h4>
                <form asp-action="CreateCost" asp-controller="Outlay">
                    <input name="eventId" class="form-control" value="@Model.Id" hidden />
                    <div class="d-flex justify-content-between">
                        <input name="title" class="form-control w-50 me-3" placeholder="Pavadinimas" required />
                        <input name="price" type="number" step="0.01" class="form-control w-25 me-3" placeholder="Kaina" min='0' max='999999' required />
                        <input name="invoiceNr" class="form-control me-3 w-50" placeholder="Sąskaitos faktūros nr." required />
                        <input name="date" type="date" class="form-control w-25 me-3" id="datePickerId2" placeholder="Data" required />
                    </div>
                    <div class="d-flex justify-content-center my-4">
                        <input name="comment" class="form-control w-50" placeholder="Komentaras (neprivaloma)" />
                    </div>
                    <input type="submit" value="Patvirtinti" class="btn btn-primary text-uppercase float-end mb-4 rounded-2" id="submit" />
                </form>
            </div>

            @******@
            @*Add single ticketing to an event*@
            <div class="row container bg-light rounded-2 mb-3" id="containerAddSingleTicketing" style="display:none;">
                <h4 class="my-4">Bilietacija</h4>
                <form asp-action="CreateTicketing" asp-controller="Outlay">
                    <input name="eventId" class="form-control" value="@Model.Id" hidden />
                    <div class="d-flex justify-content-start">
                        <input name="price" type="number" class="form-control w-25 me-3" min="0" max="9999" step="0.01" onchange="setTwoNumberDecimal" placeholder="Kaina" required />
                        <input name="quantity" type="number" class="form-control w-25 me-3" placeholder="Kiekis" min='1' max='99999' required />
                    </div>
                    <input type="submit" value="Patvirtinti" class="btn btn-primary text-uppercase float-end mb-4 rounded-2" id="submit" />
                </form>
            </div>
            @******@
            
            <h4 class="ms-2 mb-4">Įplaukos</h4>
            @if (revenue.Count != 0)
            {               
                <div class="card card-body mb-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                    <div class="row fw-bold">
                        <div class="col-sm-9 col-lg-3 mb-3">Pavadinimas</div>
                        <div class="col-sm-9 col-lg-2 mb-3">Uždirbta</div>
                        <div class="col-sm-9 col-lg-3 mb-3">Sąskaitos faktūra</div>
                        <div class="col-sm-9 col-lg-2 mb-3">Data</div>
                        <div class="col-sm-9 col-lg-2 mb-3">Komentaras</div>
                    </div>
                    @foreach (var singleRevenue in revenue)
                    {
                        <div class="row">
                            <div class="col-sm-9 col-lg-3 mb-2" style="border-right:1px solid #E1E1E1;">
                                @singleRevenue.Title
                            </div>
                            <div class="col-sm-9 col-lg-2 text-success mb-2" style="border-right:1px solid #E1E1E1;">
                                € @singleRevenue.Earned
                            </div>
                            <div class="col-sm-9 col-lg-3 mb-2" style="border-right:1px solid #E1E1E1;">
                                @singleRevenue.InvoiceNr
                            </div>
                            <div class="col-sm-9 col-lg-2 mb-2" style="border-right:1px solid #E1E1E1;">
                                @singleRevenue.Date.ToString("yyyy/MM/dd")
                            </div>
                            @if  (singleRevenue.Comment != null)
                            
                            {
                                <div class="col-sm-9 col-lg-2 mb-2" style="border-right:1px solid #E1E1E1;">
                                    @singleRevenue.Comment
                                </div>
                            }
                            @if(User.IsInRole("admin") || User.IsInRole("eventCoord") || User.IsInRole("fsaOrgCoord"))
 
                            {
                                if (User.IsInRole("admin") || userInTeam != null)
                                {
                                    <div class="row d-flex justify-content-end mt-3 mb-4">
                                        <div class="col-7 d-flex justify-content-end">
                                            <a asp-controller="Outlays" asp-action="EditRevenue" asp-route-id="@singleRevenue.Id"
                                                class="btn btn-outline-secondary mx-3 rounded-2">
                                                <i class="fas fa-edit pe-1"></i> Redaguoti
                                            </a>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-outline-danger rounded-2" data-toggle="modal" data-target="#revenueModal-@singleRevenue.Id">
                                                <i class="fas fa-trash pe-1"></i> Ištrinti
                                            </button>
                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade" id="revenueModal-@singleRevenue.Id" tabindex="-1" role="dialog" aria-labelledby="revenueModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="revenueModalLabel">Ar tikrai norite pašalinti?</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Pašalinsite įplauką: <b>@singleRevenue.Title</b> iš renginio
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form asp-action="Delete">
                                                            <input type="hidden" asp-for="@Model.Id">
                                                            <input type="submit" asp-action="DeleteRevenue" asp-controller="Outlays" asp-route-id="@singleRevenue.Id" value="Patvirtinti" class="btn btn-danger rounded-2 text-uppercase" />
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!----->
                                    </div>                                    
                                }
                            }
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="alert bg-light w-25 mt-4" role="alert">
                    Nėra pridėtų pajamų
                </div>
            }

            <h4 class="ms-2 mb-4">Išlaidos</h4>
            @if (cost.Count != 0)
            {                
                <div class="card card-body mb-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                    <div class="row fw-bold">
                        <div class="col-sm-9 col-lg-3 mb-3">Pavadinimas</div>
                        <div class="col-sm-9 col-lg-2 mb-3">Kaina</div>
                        <div class="col-sm-9 col-lg-3 mb-3">Sąskaitos faktūra</div>
                        <div class="col-sm-9 col-lg-2 mb-3">Data</div>
                        <div class="col-sm-9 col-lg-2 mb-3">Komentaras</div>
                    </div>
                    @foreach (var singleCost in cost)
                    {
                        <div class="row">
                            <div class="col-sm-9 col-lg-3 mb-2" style="border-right:1px solid #E1E1E1;">
                                @singleCost.Title
                            </div>
                            <div class="col-sm-9 col-lg-2 text-danger mb-2" style="border-right:1px solid #E1E1E1;">
                                € @singleCost.Price
                            </div>
                            <div class="col-sm-9 col-lg-3 mb-2" style="border-right:1px solid #E1E1E1;">
                                @singleCost.InvoiceNr
                            </div>
                            <div class="col-sm-9 col-lg-2 mb-2" style="border-right:1px solid #E1E1E1;">
                                @singleCost.Date.ToString("yyyy/MM/dd")
                            </div>
                            @if  (singleCost.Comment != null)
                            
                            {
                                <div class="col-sm-9 col-lg-2 mb-2" style="border-right:1px solid #E1E1E1;">
                                    @singleCost.Comment
                                </div>
                            }
                            @if(User.IsInRole("admin")  || User.IsInRole("eventCoord") || User.IsInRole("fsaOrgCoord"))
                            {
                                if (User.IsInRole("admin") || userInTeam != null)
                                {
                                    <div class="row d-flex justify-content-end mt-3 mb-4">
                                        <div class="col-7 d-flex justify-content-end">
                                            <a asp-controller="Outlays" asp-action="EditCost" asp-route-id="@singleCost.Id"
                                                class="btn btn-outline-secondary mx-3 rounded-2">
                                                <i class="fas fa-edit pe-1"></i> Redaguoti
                                            </a>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-outline-danger rounded-2" data-toggle="modal" data-target="#costModal-@singleCost.Id">
                                                <i class="fas fa-trash pe-1"></i> Ištrinti
                                            </button>
                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade" id="costModal-@singleCost.Id" tabindex="-1" role="dialog" aria-labelledby="costModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="costModalLabel">Ar tikrai norite pašalinti?</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Pašalinsite išlaidą: <b>@singleCost.Title</b> iš renginio
                                                    </div>
                                                    <div class="modal-footer">
                                                        @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Uždaryti</button>*@
                                                        <form asp-action="Delete">
                                                            <input type="hidden" asp-for="@Model.Id">
                                                            <input type="submit" asp-action="DeleteCost" asp-controller="Outlays" asp-route-id="@singleCost.Id" value="Patvirtinti" class="btn btn-danger rounded-2 text-uppercase" />
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!----->
                                    </div>                                    
                                }
                            }
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="alert bg-light w-25 mt-4" role="alert">
                    Nėra pridėtų išlaidų
                </div>
            }
            
            <h4 class="ms-2 mb-4">Bilietacija</h4>
            @if (ticketing.Count != 0)
            {               
                <div class="card card-body" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                    <div class="row fw-bold">
                        <div class="col-sm-9 col-lg-2 mb-3">Kaina</div>
                        <div class="col-sm-9 col-lg-2 mb-3">Kiekis</div>
                        <div class="col-sm-9 col-lg-3 mb-3">Suma</div>
                    </div>
                    @foreach (var singleTicketing in ticketing)
                    {
                        <div class="row">
                            <div class="col-sm-9 col-lg-2 mb-2" style="border-right:1px solid #E1E1E1;">
                                € @singleTicketing.Price
                            </div>
                            <div class="col-sm-9 col-lg-2 mb-2" style="border-right:1px solid #E1E1E1;">
                                @singleTicketing.Quantity
                            </div>
                            <div class="col-sm-9 col-lg-2 text-success mb-2">
                                € @Decimal.Round((decimal)(singleTicketing.Total()),2)
                            </div>
                            @if(User.IsInRole("admin")  || User.IsInRole("eventCoord") || User.IsInRole("fsaOrgCoord"))
                            {
                                if (User.IsInRole("admin") || userInTeam != null)
                                {
                                    @*<div class="row d-flex justify-content-end mt-3 mb-4">*@
                                    <div class="col-6 d-flex justify-content-end">
                                        <a asp-controller="Outlays" asp-action="EditTicketing" asp-route-id="@singleTicketing.Id"
                                            class="btn btn-outline-secondary mx-3 rounded-2">
                                            <i class="fas fa-edit pe-1"></i> Redaguoti
                                        </a>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-outline-danger rounded-2" data-toggle="modal" data-target="#ticketingModal-@singleTicketing.Id">
                                            <i class="fas fa-trash pe-1"></i> Ištrinti
                                        </button>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="ticketingModal-@singleTicketing.Id" tabindex="-1" role="dialog" aria-labelledby="ticketingModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="costModalLabel">Ar tikrai norite pašalinti?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Pašalinsite bilietaciją (kaina: <b>@singleTicketing.Price</b>, kiekis: <b>@singleTicketing.Quantity</b> ) iš renginio
                                                </div>
                                                <div class="modal-footer">
                                                    <form asp-action="Delete">
                                                        <input type="hidden" asp-for="@Model.Id">
                                                        <input type="submit" asp-action="DeleteTicketing" asp-controller="Outlays" asp-route-id="@singleTicketing.Id" value="Patvirtinti" class="btn btn-danger rounded-2 text-uppercase" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!----->
                                    @*</div>*@
                                }    
                            }
                        </div>
                    }
                </div>
                <hr />
            }
            else
            {
                <div class="alert bg-light w-25 mt-4" role="alert">
                    Nėra pridėtos bilietacijos
                </div>
            }
        </div>
        @*Two last years events*@
        <div>
            <div class="d-flex mt-4 mb-2 justify-content-between">
                <h5 class="my-4 display-6"><b>@Model.Title</b> pastarųjų metų renginių statistika</h5>
            </div>

            @if (lastEvents != null)
            {
                @if (lastEvents.Count != 0)
                {
@*                    <form asp-action="Details">
                        <input type="hidden" asp-for="@Model.Id">
                        <div class="d-flex mt-4 me-4 mb-2 justify-content-end">
                            <label><b>Norimų matyti renginių kiekis</b></label>              
                            <select class="custom-select mx-4 w-25" name="lastEventsCount">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <input type="submit"  value="Patvirtinti" class="btn btn-dark rounded-2 text-uppercase" />                
                        </div>
                    </form>*@
                    @if (lastEvents[0].Revenues.Count != 0 && lastEvents[0].Costs.Count != 0)
                    {
                        @*Charts*@
                        <div class="container mb-4">
                            <canvas id="chart" width="200" height="90" class="my-3"></canvas>
                            <canvas id="chart2" width="200" height="90" class="my-3"></canvas>
                            <canvas id="chart3" width="200" height="90" class="my-3"></canvas>
                        </div>

                        <table class="table table-responsive" style="display: none" id="eventsTable">
                            <tbody>
                                @foreach (var lastEvent in lastEvents)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => lastEvent.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => lastEvent.StartDate)
                                            @Html.DisplayFor(modelItem => lastEvent.EndDate)
                                        </td>

                                        <td>
                                            @if (lastEvent.Location == null)
                                            {
                                                <span>-</span>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(model => lastEvent.Location)
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => lastEvent.CoordinatorName) @Html.DisplayFor(modelItem => lastEvent.CoordinatorSurname)
                                        </td>
                                        <td class="text-end">
                                            @Html.DisplayFor(modelItem => lastEvent.PlannedPeopleCount)
                                        </td>
                                        <td class="text-end">
                                            @Html.DisplayFor(modelItem => lastEvent.PeopleCount)
                                        </td>
                                        <td class="text-end">
                                            @if  (lastEvent.Revenues != null)
                                        
                                            {
                                                <span>@decimal.Round((decimal)lastEvent.Revenues.Sum(r => r.Earned),2)</span>
                                            }
                                            else
                                            {
                                                <span>0</span>
                                            }
                                        </td>
                                        <td class="text-end">
                                            @if  (lastEvent.Costs != null)
                                        
                                            {
                                                <span>@decimal.Round((decimal)lastEvent.Costs.Sum(r => r.Price),2)</span>
                                            }
                                            else
                                            {
                                                <span>0</span>
                                            }
                                        </td>
                                        <td class="text-end">
                                            @if  (lastEvent.Ticketings != null)
                                        
                                            {
                                                <span>@lastEvent.Ticketings.Sum(t => t.Total())</span>
                                            }
                                            else
                                            {
                                                <span>0</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <table class="table table-responsive mx-3">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        Renginio data
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Location)
                                    </th>
                                    <th>
                                        Renginio koordinatorius
                                    </th>
                                    <th class="text-end">
                                        @Html.DisplayNameFor(model => model.PlannedPeopleCount)
                                    </th>
                                    <th class="text-end">
                                        @Html.DisplayNameFor(model => model.PeopleCount)
                                    </th>
                                    <th class="text-end">
                                        Bendros pajamos
                                    </th>
                                    <th class="text-end">
                                        Bendros išlaidos
                                    </th>
                                    <th class="text-end">
                                        Bendra bilietacija
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var lastEvent in lastEvents)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => lastEvent.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => lastEvent.StartDate)
                                            @Html.DisplayFor(modelItem => lastEvent.EndDate)
                                        </td>

                                        <td>
                                            @if (lastEvent.Location == null)
                                            {
                                                <span>-</span>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(model => lastEvent.Location)
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => lastEvent.CoordinatorName) @Html.DisplayFor(modelItem => lastEvent.CoordinatorSurname)
                                        </td>
                                        <td class="text-end">
                                            @Html.DisplayFor(modelItem => lastEvent.PlannedPeopleCount)
                                        </td>
                                        <td class="text-end">
                                            @Html.DisplayFor(modelItem => lastEvent.PeopleCount)
                                        </td>
                                        <td class="text-end">
                                            @if  (lastEvent.Revenues != null)
                                        
                                            {
                                                <span>@decimal.Round((decimal)lastEvent.Revenues.Sum(r => r.Earned),2)</span>
                                            }
                                            else
                                            {
                                                <span>0</span>
                                            }
                                        </td>
                                        <td class="text-end">
                                            @if  (lastEvent.Costs != null)
                                        
                                            {
                                                <span>@decimal.Round((decimal)lastEvent.Costs.Sum(r => r.Price),2)</span>
                                            }
                                            else
                                            {
                                                <span>0</span>
                                            }
                                        </td>
                                        <td class="text-end">
                                            @if  (lastEvent.Ticketings != null)
                                        
                                            {
                                                <span>@lastEvent.Ticketings.Sum(t => t.Total())</span>
                                            }
                                            else
                                            {
                                                <span>0</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                         <div class="alert alert-light mt-4" role="alert">
                            Nėra įvesta susijusių renginių sąmatos duomenų
                        </div>                       
                    }
                }
                else
                {
                    <div class="alert alert-light mt-4" role="alert">
                        Ankstesnių metų renginių nerasta
                    </div>
                }
            }
            else
            {
                <div class="alert alert-light mt-4" role="alert">
                    Per trumpas renginio pavadinimas kitų renginių tikrinimui
                </div>
            }

            <hr />
        </div>
        @*Edit and delete event*@
        <div>
            <div class="float-start">
                <a asp-action="Index" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i>  Grįžti į sąrašą</a>
                @if(User.IsInRole("admin")  || User.IsInRole("eventCoord") || User.IsInRole("fsaOrgCoord"))
                {
                    if (User.IsInRole("admin") || userInTeam != null)
                    {
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary mx-3 rounded-2"><i class="fas fa-edit pe-1"></i> Redaguoti</a>                           
                    }      
                }
            </div>
            <div class="float-end">
                @if(User.IsInRole("admin")  || User.IsInRole("eventCoord") || User.IsInRole("fsaOrgCoord"))
                {
                    if (User.IsInRole("admin") || userInTeam != null)
                    {
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger rounded-2" data-toggle="modal" data-target="#eventModal-@Model.Id">
                            <i class="fas fa-trash pe-1"></i> Ištrinti
                        </button>                            
                    }                           
                }

                <!-- Modal -->
                <div class="modal fade" id="eventModal-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Ar tikrai norite pašalinti?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Pašalinsite renginį: <b>@Model.Title</b>. Pašalinus renginį, bus pašalinta:
                                <ol class="mt-3">
                                    <li>Renginio komanda</li>
                                    <li>Parama, susijusi su šiuo renginiu</li>
                                    <li>Specifiniai reikalavimai, susije su šiuo renginiu</li>
                                </ol>
                            </div>
                            <div class="modal-footer">
                                <form asp-action="Delete">
                                    <input type="submit" asp-action="Delete" asp-route-id="@Model.Id" value="Patvirtinti" class="btn btn-danger rounded-3 text-uppercase rounded-2" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!----->
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Chart.js
    let eventsTable = document.getElementById('eventsTable');
    if(eventsTable != null)
    {
        let trElems = eventsTable.getElementsByTagName('tr');
        let eventNames = [];
        let revenueAndTicketing = [];
        let costs = [];
        let ticketing = [];
        let balance = [];

        for (let tr of trElems) {
            let tdElems = tr.getElementsByTagName('td');
            eventNames.push(tdElems[0].innerText);
            revenueAndTicketing.push(parseFloat(tdElems[6].innerText) + parseFloat(tdElems[8].innerText));
            costs.push(parseFloat(tdElems[7].innerText));
            ticketing.push(parseFloat(tdElems[8].innerText));
            balance.push(parseFloat(tdElems[6].innerText) + parseFloat(tdElems[8].innerText) - parseFloat(tdElems[7].innerText));
        }

        const ctx = document.getElementById('chart');
        const ctx2 = document.getElementById('chart2');
        const ctx3 = document.getElementById('chart3');

        const revenueAndTicketingChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: eventNames,
                datasets: [{
                    label: 'Pelnas su bilietacija',
                    data: revenueAndTicketing,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const costsChart = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: eventNames,
                datasets: [{
                    label: 'Išlaidos',
                    data: costs,
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const totalChart = new Chart(ctx3, {
            type: 'bar',
            data: {
                labels: eventNames,
                datasets: [{
                    label: 'Balansas',
                    data: balance,
                    backgroundColor: [
                        'rgba(225, 150, 251 , 0.2)',
                        'rgba(251, 179, 150 , 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(225, 150, 251 , 1)',
                        'rgba(251, 179, 150 , 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }
    // max date input is today
    datePickerId.max = new Date().toISOString().split("T")[0];
    datePickerId2.max = new Date().toISOString().split("T")[0];
    function setTwoNumberDecimal(event) {
        this.value = parseFloat(this.value).toFixed(2);
    }

    $('#addUserBtn').click(function(){
        $('#containerAddUser').toggle("slow");

        $('#containerAddSingleSponsorship').hide("slow");
        $('#containerAddSingleRevenue').hide("slow");
        $('#containerAddSingleCost').hide("slow");
        $('#containerAddSingleTicketing').hide("slow");
    });

    $('#addSingleSponsorshipBtn').click(function(){
        $('#containerAddSingleSponsorship').toggle("slow");

        $('#containerAddUser').hide("slow")
        $('#containerAddSingleRevenue').hide("slow");
        $('#containerAddSingleCost').hide("slow");
        $('#containerAddSingleTicketing').hide("slow");
    });

    $('#addSingleRevenueBtn').click(function(){
        $('#containerAddSingleRevenue').toggle("slow");

        $('#containerAddUser').hide("slow")
        $('#containerAddSingleSponsorship').hide("slow");
        $('#containerAddSingleCost').hide("slow");
        $('#containerAddSingleTicketing').hide("slow");
    });

    $('#addSingleCostBtn').click(function(){
        $('#containerAddSingleCost').toggle("slow");

        $('#containerAddSingleSponsorship').hide("slow");
        $('#containerAddSingleRevenue').hide("slow");
        $('#containerAddUser').hide("slow")
        $('#containerAddSingleTicketing').hide("slow");
    });

    $('#addSingleTicketingBtn').click(function(){
        $('#containerAddSingleTicketing').toggle("slow");

        $('#containerAddUser').hide("slow");
        $('#containerAddSingleSponsorship').hide("slow");
        $('#containerAddSingleRevenue').hide("slow");
        $('#containerAddSingleCost').hide("slow");
    });
</script>
}