@model KTU_SA_RO.Models.Event

@{
    ViewData["Title"] = "Details";
}

<div class="container display-6 my-4 fw-bold">Plačiau apie renginį</div>

@if (TempData["success"] != null)
{
    <div class="alert alert-success" role="alert">
        @Html.Raw(TempData["success"].ToString())
    </div>
}

<div>
    <hr />
    <dl class="container row">
        <dt class="col-sm-3 col-lg-2 mb-3">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-9 col-lg-10 fw-bold">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-3 col-lg-2 mb-3">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-3 col-lg-2 mb-3">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-3 col-lg-2 mb-3">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-3 col-lg-2 mb-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd><hr /></dd>
        <dt class="col-sm-3 col-lg-2 mb-3">
            @Html.DisplayNameFor(model => model.Has_coordinator)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @if (!Model.Has_coordinator)
            {
                <span><i class="fas fa-times"></i></span>
            }
            else
            {
                <i class="fas fa-check"></i>
            }
        </dd>
        <dt class="col-sm-3 col-lg-2 mb-3">
            Renginio koordinatorius
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.CoordinatorName) <span class="ms-2">@Html.DisplayFor(model => model.CoordinatorSurname)</span>
        </dd>
        <dd><hr /></dd>
        <dt class="col-sm-3 col-lg-2 mb-32">
            @Html.DisplayNameFor(model => model.Is_canceled)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @if (!Model.Is_canceled)
            {
                <span><i class="fas fa-times"></i></span>
            }
            else
            {
                <span><i class="fas fa-check"></i></span>
            }
        </dd>
        <dt class="col-sm-3 col-lg-2 mb-3">
            @Html.DisplayNameFor(model => model.Is_live)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @if (!Model.Is_live)
            {
                <span><i class="fas fa-times"></i></span>
            }
            else
            {
                <i class="fas fa-check"></i>
            }
        </dd>
        <dt class="col-sm-3 col-lg-2 mb-3">
            @Html.DisplayNameFor(model => model.PlannedPeopleCount)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.PlannedPeopleCount)
        </dd>
        <dt class="col-sm-3 col-lg-2 mb-3">
            @Html.DisplayNameFor(model => model.PeopleCount)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.PeopleCount)
        </dd>
        <dd>
            <div class="d-flex mb-2 justify-content-between">
                <h3 class="my-4 fw-bold">Specifiniai reikalavimai</h3>
                <a asp-controller="Requirements" asp-route-eventId="@Model.Id" asp-action="Create" class="btn btn-primary my-3 col-3">
                    <i class="fas fa-plus-circle pt-1 pe-1" style="font-size: 20px"></i>
                    Sukurti specifinį reikalavimą
                </a>
            </div>
            @if (Model.Requirements.Count != 0)
            {
                @foreach (var requirement in Model.Requirements)
                {
                    <div class="card mb-4 w-75">
                        <div class="card-header d-flex justify-content-between fw-bold">
                            <div>@requirement.Name</div>
                            <div class="me-1">Vardenis Pavardenis</div>
                        </div>
                        <div class="row m-3">
                            <div class="col-6">@requirement.Description</div>
                            <div class="col">
                                <a asp-controller="Requirements" asp-action="Edit" asp-route-id="@requirement.Id"
                           class="btn btn-outline-secondary mx-3 rounded-2"><i class="fas fa-edit pe-1"></i> Redaguoti</a>
                                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger mx-3 rounded-2"><i class="fas fa-trash pe-1"></i> Ištrinti</a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="alert bg-light w-50" role="alert">
                    Nėra sukurta specifinių reikalavimų šiam renginiui
                </div>
            }
            <hr />
        </dd>
        <dd>
            <div class="float-start">
                <a asp-action="Index" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i>  Grįžti į sąrašą</a>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary mx-3"><i class="fas fa-edit pe-1"></i> Redaguoti</a>
            </div>
            <div class="float-end">
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger mx-3"><i class="fas fa-trash pe-1"></i> Ištrinti</a>
            </div>
        </dd>
    </dl>
</div>