@model IEnumerable<KTU_SA_RO.Models.Event>

@{
    var userEvents = ViewData["userEvents"] as List<Event>;

    @if (userEvents != null)
        ViewData["Title"] = "Mano renginiai";
    else
        ViewData["Title"] = "Visi renginiai";
    /*Pagination*/
    var currentPage = 0;
    if (ViewData["pageIndex"] != null)
    {
        currentPage = Convert.ToInt32(ViewData["pageIndex"]);
    }
    var totalPages = Convert.ToInt32(ViewData["totalPages"]);
    // Show 5 pages buttons
    var showCount = 5;
}

<div class="display-6 m-2 mt-4 fw-bold">@ViewData["Title"]</div>

@if (TempData["success"] != null)
{
    <div class="alert alert-success" role="alert">
        @Html.Raw(TempData["success"].ToString())
    </div>
}

<a asp-action="Create" class="btn btn-primary my-3 col-sm-5 col-lg-3"><i class="fas fa-plus-circle pt-1 pe-1" style="font-size: 20px"></i> Sukurti naują renginį</a>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Renginio data
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Renginio koordinatorius
            </th>
            <th>
            </th>

            <th class="text-end">
                @Html.DisplayNameFor(model => model.PlannedPeopleCount)
            </th>
            <th class="text-end">
                @Html.DisplayNameFor(model => model.PeopleCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (userEvents != null)
        {
            @foreach (var userEvent in userEvents)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => userEvent.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => userEvent.StartDate)
                        @Html.DisplayFor(modelItem => userEvent.EndDate)
                    </td>

                    <td>
                        @if (userEvent.Location == null)
                        {
                            <span>-</span>
                        }
                        else
                        {
                            @Html.DisplayFor(model => userEvent.Location)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => userEvent.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => userEvent.CoordinatorName) @Html.DisplayFor(modelItem => userEvent.CoordinatorSurname)
                    </td>
                    <td>
                    </td>

                    <td class="text-end">
                        @Html.DisplayFor(modelItem => userEvent.PlannedPeopleCount)
                    </td>
                    <td class="text-end">
                        @Html.DisplayFor(modelItem => userEvent.PeopleCount)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@userEvent.Id" class="btn btn-dark d-flex ms-3"><i class="mt-1 mr-2 fas fa-info-circle"></i> Plačiau</a>
                    </td>
                </tr>
            }
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>

                    <td>
                        @if (item.Location == null)
                        {
                            <span>-</span>
                        }
                        else
                        {
                            @Html.DisplayFor(model => item.Location)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoordinatorName) @Html.DisplayFor(modelItem => item.CoordinatorSurname)
                    </td>
                    <td>
                    </td>

                    <td class="text-end">
                        @Html.DisplayFor(modelItem => item.PlannedPeopleCount)
                    </td>
                    <td class="text-end">
                        @Html.DisplayFor(modelItem => item.PeopleCount)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark d-flex ms-3"><i class="mt-1 mr-2 fas fa-info-circle"></i> Plačiau</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@if (userEvents == null)
{
    @*Pagination*@
    @await Html.PartialAsync("~/Views/Shared/_Pagination.cshtml")
}