@model IEnumerable<KTU_SA_RO.Models.Event>

@{
    ViewData["Title"] = "Visi renginiai";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["success"] != null)
{
    <div class="alert alert-success" role="alert">
        @Html.Raw(TempData["success"].ToString())
    </div>
}

<a asp-action="Create" class="btn btn-primary my-2 col-3"><i class="fas fa-plus-circle pt-1 pe-1" style="font-size: 20px"></i> Sukurti naują renginį</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Renginio data
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Renginio koordinatorius
            </th>
            <th>
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PlannedPeopleCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeopleCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoordinatorName) @Html.DisplayFor(modelItem => item.CoordinatorSurname)
                </td>
                <td>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PlannedPeopleCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PeopleCount)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success" style="width:7rem;"> Plačiau</a>
                </td>
            </tr>
        }
    </tbody>
</table>
