@{
    var currentPage = 0;
    if (ViewData["pageIndex"] != null)
    {
        currentPage = Convert.ToInt32(ViewData["pageIndex"]);
    }
    var totalPages = Convert.ToInt32(ViewData["totalPages"]);
    // Show 5 pages buttons
    var showCount = 5;
}

@if (totalPages > 1)
{
    <div class="d-flex justify-content-center">
        @for (int i = 1; i <= totalPages; i++)
        {
            if (i == 1 && currentPage != 1 || i + showCount <= currentPage || i == totalPages || i <= currentPage + showCount && i != currentPage)
            {
                if (i != 1 && i + showCount <= currentPage)
                {
                    // Left side
                    if (i == currentPage - showCount)
                    {
                        <h4 class="mx-2">...</h4>
                    }
                }
                // Right side
                else if (currentPage + showCount == i && i != totalPages)
                {
                    <h4 class="mx-2">...</h4>
                }
                else
                {
                    if (currentPage - 1 == i)
                    {
                        <form asp-action="Index" method="post">
                            <input type="number" name="pageIndex" hidden value="@i" />
                            <input type="submit" class="btn btn-outline-dark" value="@i" />
                        </form>
                        <form asp-action="Index" method="post">
                            <input type="number" name="pageIndex" hidden value="@i" />
                            <button type="submit" class="btn btn-outline-dark ms-3"><i class="bi bi-arrow-left"></i> Atgal</button>
                        </form>
                    }
                    else if (currentPage + 1 == i)
                    {
                        <form asp-action="Index" method="post">
                            <input type="number" name="pageIndex" hidden value="@i" />
                            <button type="submit" class="btn btn-outline-dark me-3">Kitas <i class="bi bi-arrow-right"></i></button>
                        </form>
                        <form asp-action="Index" method="post">
                            <input type="number" name="pageIndex" hidden value="@i" />
                            <input type="submit" class="btn btn-outline-dark" value="@i" />
                        </form>
                    }
                    else
                    {
                        if (currentPage != totalPages || i != totalPages)
                        {
                            <form asp-action="Index" method="post">
                                <input type="number" name="pageIndex" hidden value="@i" />
                                <input type="submit" class="btn btn-outline-dark" value="@i" />
                            </form>
                        }
                    }
                }
            }
            if (i == currentPage)
            {
                <button class="btn btn-dark mx-3" disabled>@currentPage</button>
            }
        }
    </div>
}

