@model IEnumerable<KTU_SA_RO.Models.Sponsor>

@{
    ViewData["Title"] = "Visi rėmėjai";

    /*Pagination*/
    var currentPage = 0;
    if (ViewData["pageIndex"] != null)
    {
        currentPage = Convert.ToInt32(ViewData["pageIndex"]);
    }
    var totalPages = Convert.ToInt32(ViewData["totalPages"]);
    // Show 5 pages buttons
    var showCount = 5;
}

<div class="display-6 m-2 mt-4 fw-bold">@ViewData["Title"]</div>

@if (TempData["success"] != null)
{
    <div class="alert alert-success" role="alert">
        @Html.Raw(TempData["success"].ToString())
    </div>
}
@if(User.IsInRole("admin")  || User.IsInRole("fsaBussinesCoord"))
{
    <a asp-action="Create" class="btn btn-primary my-3 col-sm-5 col-lg-3 rounded-2"><i class="fas fa-plus-circle pt-1 pe-1" style="font-size: 20px"></i> Sukurti naują rėmėją</a>
}

<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyVAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Įmonės vadovas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="fw-bold">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyVAT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyHeadName)
                    @Html.DisplayFor(modelItem => item.CompanyHeadSurname)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark d-flex rounded-2"><i class="mt-1 mr-2 fas fa-info-circle"></i> Plačiau</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*Pagination*@
@await Html.PartialAsync("~/Views/Shared/_Pagination.cshtml")
