@model KTU_SA_RO.Models.EventTeam

@{
    ViewData["Title"] = "Pašalinti narį iš komandos";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EventTeam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Events)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Events.CoordinatorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_event_coord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_event_coord)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-success" style="width:7rem;"><i class="fas fa-arrow-left"></i>  Grįžti į detales</a>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Patvirtinti šalinimą" class="btn btn-danger mx-3" />
    </form>
</div>
