@model IEnumerable<KTU_SA_RO.Models.Event>

@{
    ViewData["Title"] = "Pagrindinis puslapis";
    var rep = ViewData["represantatives"] as Dictionary<int, string>;
    var eventIds = ViewData["eventIds"] as List<int>;
    int i = 0;
    var userId = ViewData["userId"];
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.css">

<table id="eventsTable" style="display: none">
    @*List of events*@
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
            <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
            @if (i < eventIds.Count)
            {
                if (eventIds[i] == item.Id)
                {
                    <td>@rep[item.Id]</td>
                    i++;
                }
            }
        </tr>
    }
</table>
@if (userId != null)
{
   <div class="container">
      <a asp-action="userEvents" asp-controller="Events" asp-route-id="@userId" class="btn btn-dark mt-4"><i class="mt-1 mr-2 fas fa-info-circle"></i> Mano renginiai</a>
   </div> 
}

<div id="calendar" class="mt-4"></div>

@foreach (var item in Model)
{
    <div id="eventContainer-@item.Id" class="card col-sm-8 col-lg-7 fixed-top" style="margin: 6rem 17rem; display: none; border-radius: 40px">
        <div class="card-header p-4 mt-4" style="background: rgb(34,193,195);
            background: linear-gradient(216deg, rgba(34,193,195,1) 0%, rgba(3,102,214,1) 100%);
            border-radius: 20px">
            <h4 id="eventTitle-@item.Id" class="card-title" style="color: whitesmoke">@item.Title</h4>
        </div>
        <div class="card-text p-4">
            <div class="row mt-3 bg-light pt-4">
                <h5 class="col-1 text-end"><i class="far fa-calendar"></i></h5>
                <p class="col-9">@item.StartDate.ToString("yyyy-MM-dd") - @item.EndDate.ToString("yyyy-MM-dd")</p>
            </div>
            <div class="row mt-3">
                <h5 class="col-sm-7 col-md-6 col-lg-4">Vieta:</h5>
                @if (item.Location == null)
                {
                    <p class="col-6">Nežinoma</p>
                }
                else
                {
                    <p class="col-6">@item.Location</p>
                }
            </div>
            <div class="row mt-1">
                <h5 class="col-sm-7 col-md-6 col-lg-4">Renginio koordinatorius:</h5>
                @if (item.CoordinatorName.Equals("Narys"))
                {
                    <p class="col-6">Narys</p>
                }
                else
                {
                    <p class="col-6">@item.CoordinatorName @item.CoordinatorSurname</p>
                }
            </div>
            <div class="row mt-1">
                <h5 class="col-sm-7 col-md-6 col-lg-4">Tipas:</h5>
                <p class="col-6">@item.EventType.Name</p>
            </div>
            <div class="row mt-1">
                @if (@item.PeopleCount == 0)
                {
                    <h5 class="col-sm-7 col-md-6 col-lg-4">Planuojamas dalyvių skaičius:</h5>
                    <p class="col-2">@item.PlannedPeopleCount</p>
                }
                else
                {
                    <h5 class="col-sm-7 col-md-6 col-lg-4">Dalyvių skaičius:</h5>
                    <p class="col-2">@item.PeopleCount</p>
                }
            </div>
            <div class="row mt-1 mb-4 pt-4 bg-light rounded-2">
            <p id="eventDetails-@item.Id" class="mt-0 mb-4 ms-3">@item.Description</p>
            </div>
            @if (User.IsInRole("admin") || User.IsInRole("eventCoord") || User.IsInRole("orgCoord"))
            {
                <a asp-action="Edit" asp-controller="Events" asp-route-id="@item.Id" class="btn btn-secondary"><i class="fas fa-edit pe-1"></i> Redaguoti</a>
            }
            <button type="button" class="btn btn-light float-end mb-4 rounded-lg" onclick=toggleEvent(@item.Id)>X</button>
        </div>
    </div>
}

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.js"></script>
<script src="~/js/calendar.js"></script>